
; Inter-Asterisk eXchange driver definition
;
; This configuration is re-read at reload
; or with the CLI command
; 	reload chan_iax2.so
;
; General settings, like port number to bind to, and
; an option address (the default is to bind to all
; local addresses).
;
[general]
bindport=4569			; bindport and bindaddr may be specified
;                               ; NOTE: bindport must be specified BEFORE
				; bindaddr or may be specified on a specific
				; bindaddr if followed by colon and port
				;  (e.g. bindaddr=192.168.0.1:4569)
;bindaddr=192.168.0.1		; more than once to bind to multiple
iaxcompat=yes
delayreject=yes
adsi=no
bandwidth=high

; codecs
disallow=all
allow=g722
allow=g729
allow=ulaw

jitterbuffer=no
forcejitterbuffer=no
;maxjitterbuffer=1000
;maxjitterinterps=10
;resyncthreshold=1000
;jittertargetextra=40

; Minimum and maximum amounts of time that IAX peers can request as
; a registration expiration interval (in seconds).
minregexpire = 60
maxregexpire = 120
;
trunkmaxsize = 128000 ; defaults to 128000 bytes, which supports up to 800 calls of ulaw
trunkmtu = 1240 ; trunk data will be sent in 1240 byte messages.
trunkfreq=20     ; How frequently to send trunk msgs (in ms). This is 20ms by default.
trunktimestamps=yes

; Establishes the number of iax helper threads to handle I/O.
iaxthreadcount = 10
; Establishes the number of extra dynamic threads that may be spawned to handle I/O
iaxmaxthreadcount = 100
