[general]
context=from-sip-undef                ; Default context for incoming calls
allowguest=no             ; Allow or reject guest calls (default is yes)
match_auth_username=yes        ; if available, match user entry using the
allowoverlap=no                 ; Disable overlap dialing support. (Default is yes)
allowtransfer=no               ; Disable all transfers (unless enabled in peers or users)
realm=iaxproxy.org
;domainsasrealm=no              ; Use domains list as realms
                                ; You can serve multiple Realms specifying several
                                ; 'domain=...' directives (see below). 
                                ; In this case Realm will be based on request 'From'/'To' header
                                ; and should match one of domain names.
                                ; Otherwise default 'realm=...' will be used.


udpbindaddr=0.0.0.0             ; IP address to bind UDP listen socket to (0.0.0.0 binds to all)
                                ; Optionally add a port number, 192.168.1.1:5062 (default is port 5060)

disallowed_methods = UPDATE

;
tcpenable=no                    ; Enable server for incoming TCP connections (default is no)
tcpbindaddr=0.0.0.0             ; IP address for TCP server to bind to (0.0.0.0 binds to all interfaces)
                                ; Optionally add a port number, 192.168.1.1:5062 (default is port 5060)

tlsenable=no                   ; Enable server for incoming TLS (secure) connections (default is no)
tlsbindaddr=0.0.0.0            ; IP address for TLS server to bind to (0.0.0.0) binds to all interfaces)
srvlookup=yes                   ; Enable DNS SRV lookups on outbound calls
tos_sip=cs3                    ; Sets TOS for SIP packets.
tos_audio=ef                   ; Sets TOS for RTP audio packets.
tos_video=af41                 ; Sets TOS for RTP video packets.
tos_text=af41                  ; Sets TOS for RTP text packets.

cos_sip=3                      ; Sets 802.1p priority for SIP packets.
cos_audio=5                    ; Sets 802.1p priority for RTP audio packets.
cos_video=4                    ; Sets 802.1p priority for RTP video packets.
cos_text=3                     ; Sets 802.1p priority for RTP text packets.

maxexpiry=3600                 ; Maximum allowed time of incoming registrations
                                ; and subscriptions (seconds)
minexpiry=60                   ; Minimum length of registrations/subscriptions (default 60)
defaultexpiry=120              ; Default length of incoming/outgoing registration
maxforwards=70			; Setting for the SIP Max-Forwards: header (loop prevention)
				; Default value is 70
qualifyfreq=60                 ; Qualification: How often to check for the host to be up in seconds
qualifygap=100			; Number of milliseconds between each group of peers being qualified
qualifypeers=1			; Number of peers in a group to be qualified at the same time

disallow=all                   ; First disallow all codecs
allow=g722
allow=g729
allow=ulaw
language=en                    ; Default language setting for all users/peers
;trustrpid = no                 ; If Remote-Party-ID should be trusted
;sendrpid = yes                 ; If Remote-Party-ID should be sent (defaults to no)
sendrpid = pai                 ; Use the "P-Asserted-Identity" header
                                ; to send the identity of the remote party
;rpid_update = no               ; In certain cases, the only method by which a connected line
                                ; change may be immediately transmitted is with a SIP UPDATE request.
                                ; If communicating with another Asterisk server, and you wish to be able
                                ; transmit such UPDATE messages to it, then you must enable this option.
                                ; Otherwise, we will have to wait until we can send a reinvite to
                                ; transmit the information.

useragent=iaxproxy.org IAX->SIP Proxy V1
promiscredir = no              ; If yes, allows 302 or REDIR to non-local SIP address
                                ; Note that promiscredir when redirects are made to the
                                ; local system will cause loops since Asterisk is incapable
                                ; of performing a "hairpin" call.
usereqphone = no               ; If yes, ";user=phone" is added to uri that contains
                                ; a valid phone number
dtmfmode = rfc2833             ; Set default dtmfmode for sending DTMF. Default: rfc2833
                                ; Other options:
                                ; info : SIP INFO messages (application/dtmf-relay)
                                ; shortinfo : SIP INFO messages (application/dtmf)
                                ; inband : Inband audio (requires 64 kbit codec -alaw, ulaw)
                                ; auto : Use rfc2833 if offered, inband otherwise

;compactheaders = yes           ; send compact sip headers.
;
videosupport=yes               ; Turn on support for SIP video. You need to turn this
                                ; on in this section to get any video support at all.
                                ; You can turn it off on a per peer basis if the general
                                ; video support is enabled, but you can't enable it for
                                ; one peer only without enabling in the general section.
                                ; If you set videosupport to "always", then RTP ports will
                                ; always be set up for video, even on clients that don't
                                ; support it.  This assists callfile-derived calls and
                                ; certain transferred calls to use always use video when
                                ; available. [yes|NO|always]

maxcallbitrate=384             ; Maximum bitrate for video calls (default 384 kb/s)
                                ; Videosupport and maxcallbitrate is settable
                                ; for peers and users as well
alwaysauthreject = yes         ; When an incoming INVITE or REGISTER is to be rejected,
                                ; for any reason, always reject with an identical response
                                ; equivalent to valid username and invalid password/hash
                                ; instead of letting the requester know whether there was
                                ; a matching user or peer for their request.  This reduces
                                ; the ability of an attacker to scan for valid SIP usernames.
                                ; This option is set to "yes" by default.

regcontext=sip-registrations
shrinkcallerid=yes     ; on by default


use_q850_reason = yes ; Default "no"

t1min=100                      ; Minimum roundtrip time for messages to monitored hosts
                                ; Defaults to 100 ms
timert1=500                    ; Default T1 timer
                                ; Defaults to 500 ms or the measured round-trip
                                ; time to a peer (qualify=yes).
timerb=32000                   ; Call setup timer. If a provisional response is not received
;
rtptimeout=60                  ; Terminate call if 60 seconds of no RTP or RTCP activity
                                ; on the audio channel
                                ; when we're not on hold. This is to be able to hangup
                                ; a call in the case of a phone disappearing from the net,
                                ; like a powerloss or grandma tripping over a cable.
rtpholdtimeout=300             ; Terminate call if 300 seconds of no RTP or RTCP activity
                                ; on the audio channel
                                ; when we're on hold (must be > rtptimeout)
session-timers=originate
session-expires=600
session-minse=90
session-refresher=uas
;
;--------------------------- SIP DEBUGGING ---------------------------------------------------
sipdebug = no               ; Turn on SIP debugging by default, from
